@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors */

:root {
    --background-color: #ffffff;
    --nav-background-color: #ffffff;
    --nav-text-color: #000000;
    --nav-active-text-color: #7bb399;
    --nav-hover-text-color: #7bb399;
    --text-color: #000000;
    --nav-width: 200px;
    --light-green: #7bb399;
    --dark-green: #3b5a4a;
    --light-blue: #7798b8;
    --dark-blue: #376699;
    --light-grey: #bcbcbc;
}

/* General */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, Arial, fantasy;
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, Arial, fantasy;
}

p {
    font-size: 1em;
    color: var(--text-color);
    font-family: Montserrat, Arial, fantasy;
}

h1 {
    color: var(--text-color);
    font-family: Noto Serif Display, Arial, fantasy;
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-family: Noto Serif Display, Arial, fantasy;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0px;
}

.container-fluid {
    display: grid;
    padding: 0px;
    grid-template-rows: repeat(6, minmax(100vh, auto));  /* Each section will take 100% of the viewport height */
    grid-template-columns: 1fr;
    margin-left: var(--nav-width);  /* Shift content to the right to avoid overlap with fixed navbar */
}

.highlighter-line {
    height: 10px; /* Adjust the height to your preference */
    width: 100%; /* Make the line span the entire width */
    background-color: var(--light-green); /* Use the same color as the text or any color you prefer */
    opacity: 0.7; /* Adjust the opacity if needed */
    margin-bottom: 30px;
}

.highlighter-line-text {
    position: relative; /* Position the parent element for positioning the pseudo-element */
    display: inline-block; /* Ensures proper sizing around text content */
    font-size: 3em;
    padding-left: 10px
}

.highlighter-line-text::before {
    content: ''; /* Empty content for the line */
    position: absolute; /* Position relative to the parent element */
    left: 0;
    right: 0;
    top: 50%; /* Start at the center */
    transform: translateY(-50%); /* Center vertically */
    height: 33.33%; /* One-third of the text height */
    background-color: var(--light-green); /* Same color as desired */
    opacity: 0.7; /* Optional: adjust opacity */
    z-index: -1; /* Send it behind the text */
    border-radius: 5px; /* Optional: rounded corners */
}

/* Navigation bar */
  
@media (max-width: 991px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar-toggler {
        padding: 10px 15px;
        border: none;
    }

    .navbar-toggler:focus, .navbar-toggler:active {
        outline: none;  /* Removes the focus outline */
        box-shadow: none;  /* Removes the shadow that might appear when clicked */
    }

    .container-fluid {
        margin-left: 0px;
        grid-template-rows: repeat(6, minmax(100vh, auto));
    }

    .nav-link {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .navbar {
        width: var(--nav-width);
        height: 100vh;
        position: fixed;
        padding-top: 1rem;
    }

    .navbar-nav {
        flex-direction: column !important;
        align-items: center;
    }

    .container {
        width: auto;
    }

    .navbar-toggler {
        display: none;
    }

    .container-fluid {
        width: calc(100% - var(--nav-width));
    }

    .navbar a:hover {
        color: var(--nav-hover-text-color);
    }

}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--nav-active-text-color);
}

/* Sections */

section {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    padding: 10px;
    align-items: center;
    text-align: center;
}

.experience p{
    margin-left: 0px;
}

.experience li a {
    color: var(--light-blue);
    text-decoration: none;
    transition: color 0.4s ease;
}

.experience li a:hover {
    color: var(--dark-blue);
}

.row h3 {
    font-size: 1.4em;
}


.row p {
    margin-bottom: 1px;
    text-align: end;
}

.location {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    font-size: 0.9em;
}

.accordion-button:not(.collapsed) {
    background-color: var(--light-green); /* Change to your preferred color */
    color: white; /* Optional: Adjust text color */
}

footer {
    background: #aac8ba36;
    text-align: center;
    height: 4em;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: var(--text-color);
    font-weight: 300;
    font-size: 12px;
    margin: 0;
}