.curriculum {
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    gap: 1.5rem;
}

ul {
    font-family: Noto Sans;
}